@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:azure;
  font-family: "Roboto", sans-serif;
}

.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  height: 35px;
  width: 165px;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 40px;
}

li{
  margin-top: 15px;

}
button{
  height: 30px;
  width: 60px;
  background-color:blueviolet;
  color: beige;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: skyblue;
}
::-webkit-scrollbar-thumb{
  background: darkblue;
  border-radius: 4px;
}
